.page-header {
  width: 320px;
  margin: 0 auto;
  background: url("../img/bg-header-modile.jpg") no-repeat center;
  background-position: 0 1px; }

.page-header__link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  margin-top: 28px;
  font-family: sans-serif;
  display: inline-block; }

.page-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px 0 60px 0;
  padding-bottom: 100px; }

.intro__sup-title {
  color: #fff;
  margin-top: 19px;
  font-size: 16px;
  font-family: sans-serif;
  position: relative; }
  .intro__sup-title::before {
    content: "";
    position: absolute;
    top: 4px;
    left: -15px;
    width: 270px;
    height: 15px;
    background: url("../img/bg-intro-span.png") no-repeat; }

.intro__title {
  font-family: "Besom 2", sans-serif;
  color: #ff0000;
  margin: 44px 0 33px 0;
  font-weight: 100;
  font-size: 102px;
  line-height: 50px; }
  .intro__title span {
    margin-top: 5px;
    display: block;
    color: #fff;
    font-family: sans-serif;
    font-size: 38px;
    font-weight: 700; }

.intro__list {
  width: 198px;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  font-weight: 700;
  position: relative; }
  .intro__list:before {
    content: "";
    position: absolute;
    top: -11px;
    left: -3px;
    background: url("../img/bg-intro-list.png") no-repeat;
    width: 205px;
    height: 40px;
    z-index: 1; }

.intro__item {
  z-index: 10;
  margin-left: 8px;
  width: 24px;
  text-align: left; }

.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.intro__text {
  margin: 0;
  color: #fff;
  display: inline-block;
  width: 76px;
  font-style: italic;
  font-size: 14px;
  font-weight: 100; }

.intro__link {
  margin: 42px 0; }

.page-main {
  width: 320px;
  margin: 0 auto; }

.description__container {
  /*  width: 290px;
  margin: 0 auto;*/ }

.description__title {
  text-align: center;
  font-family: sans-serif;
  color: #ff0000;
  margin: 20px 0 26px 0;
  font-size: 36px;
  font-weight: bold;
  padding: 0 0 20px 0;
  text-transform: uppercase;
  z-index: 40;
  position: relative;
  background: url("../img/bg-title.png") no-repeat;
  background-position: -1px -9px; }
  .description__title--bg {
    background: url("../img/dicscover.png") no-repeat;
    background-position: -1px 9px; }

.description__list {
  list-style: none;
  padding: 0;
  color: #4c4c4c;
  text-align: center; }

.description__span {
  color: #ff0000;
  font-size: 24px;
  line-height: 24px;
  position: relative;
  margin-left: 8px;
  display: inline-block; }
  .description__span--start {
    margin-bottom: 33px; }
  .description__span::before {
    content: "";
    position: absolute;
    background: #ffe5e5;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 42px;
    left: 19px; }
  .description__span::after {
    content: "";
    position: absolute;
    background: #ff0000;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    top: 46px;
    left: 22px; }
  .description__span--finish {
    margin: 67px 0 0 3px; }
    .description__span--finish::before {
      top: -34px;
      left: 22px; }
    .description__span--finish::after {
      top: -30px;
      left: 25px; }

.description__sub-title {
  font-size: 20px;
  font-weight: 700;
  margin: 18px 0 0 0; }

.description__text {
  font-size: 16px;
  line-height: 24px;
  margin: 16px 3px 16px 20px; }

.description__wrapper-image {
  margin-top: 40px; }
  .description__wrapper-image--margin {
    margin-bottom: 10px; }

.description__items {
  font-family: "besom 2", sans-serif;
  font-size: 122.5px;
  line-height: 20px;
  opacity: 0.1;
  background: url(""); }

.security {
  margin-top: 80px; }

.security__title {
  color: #ff0000;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase; }

.security__list {
  list-style: none;
  padding: 0;
  margin-top: 50px;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  background: url("../img/security-bg.png") no-repeat;
  background-position: -2px, 0; }

.security__item {
  margin: 0 39px 57px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .security__item span {
    color: #fff;
    display: block;
    margin: 15px 52px 0 15px; }

.info {
  background: url("../img/bg-section-info.png") no-repeat;
  background-position: 0 0;
  margin: 22px 0 0 0;
  padding: 131px 0 100px 0;
  color: #fff; }

.info__container {
  position: relative;
  padding-bottom: 20px; }
  .info__container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 65%;
    top: 0;
    left: 0;
    background: url("../img/border-info.png") no-repeat; }

.info__title {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase; }
  .info__title--bottom {
    margin: 106px 0 44px 0; }
    .info__title--bottom span {
      font-family: "besom 2" , sans-serif;
      font-size: 75px;
      line-height: 10px;
      padding: 36px 42px 8px 53px;
      background: url("../img/bg-red.png") no-repeat; }

.info__wrapper-title {
  background: url("../img/info.png") no-repeat;
  padding: 41px 0 50px 43px; }

.info__list {
  list-style: none;
  padding: 0;
  font-size: 16px;
  line-height: 24px; }

.info__description {
  margin: 13px 5px 41px 23px; }
  .info__description--bottom {
    margin: 13px 20px 41px 0; }

.info__list-title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 29px 0 10px 22px; }
  .info__list-title span {
    font-family: "besom 2" , sans-serif;
    opacity: 0.15;
    font-size: 46px;
    line-height: 15.3px;
    margin-right: 12px; }
  .info__list-title--bottom {
    margin-left: 0; }

.test {
  background: url("../img/test-bg.png") no-repeat;
  background-position: 0 0;
  padding: 150px 0; }

.test__title {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 51px; }
  .test__title span {
    display: inline-block;
    color: #ff0000;
    font-family: "besom 2", sans-serif;
    font-size: 80px;
    line-height: 15px;
    font-weight: 400;
    margin-bottom: 27px; }

.skill {
  margin-top: 28px; }

.skill__title {
  text-transform: uppercase;
  font-size: 36px;
  color: #ff0000;
  text-align: center;
  background: url("../img/skill-bg.png") no-repeat;
  background-position: 1px 10px;
  font-weight: 700;
  margin-top: 0; }

.skill__list {
  list-style: none;
  padding: 0;
  margin: 70px 0 0 40px;
  font-size: 16px;
  line-height: 24px;
  position: relative; }
  .skill__list::before {
    content: "";
    position: absolute;
    width: 51px;
    height: 300px;
    top: 14px;
    left: -55px;
    background: url("../img/and-all.png") no-repeat; }
  .skill__list::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 750px;
    top: -104px;
    left: -56px;
    background: url("../img/elips.png") no-repeat; }

.skill__item {
  position: relative; }
  .skill__item::before {
    content: "";
    position: absolute;
    background: #ffe5e5;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 42px;
    left: 19px; }
  .skill__item::after {
    content: "";
    position: absolute;
    background: #ff0000;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    top: 46px;
    left: 22px; }
  .skill__item:nth-child(1) {
    margin: 0 25px 0 36px; }
    .skill__item:nth-child(1)::before {
      top: 11px;
      left: -44px; }
    .skill__item:nth-child(1)::after {
      top: 15px;
      left: -40px; }
  .skill__item:nth-child(2) {
    margin: 87px 25px 0 58px; }
    .skill__item:nth-child(2)::before {
      top: 12px;
      left: -34px; }
    .skill__item:nth-child(2)::after {
      top: 15px;
      left: -31px; }
  .skill__item:nth-child(3) {
    margin: 64px 0 0 73px; }
    .skill__item:nth-child(3)::before {
      top: 15px;
      left: -42px; }
    .skill__item:nth-child(3)::after {
      top: 19px;
      left: -37px; }
  .skill__item:nth-child(4) {
    margin: 111px 0 0 51px; }
    .skill__item:nth-child(4)::before {
      top: 16px;
      left: -44px; }
    .skill__item:nth-child(4)::after {
      top: 20px;
      left: -39px; }
  .skill__item:nth-child(5) {
    margin: 68px 0 0 18px; }
    .skill__item:nth-child(5)::before {
      top: 26px;
      left: -69px; }
    .skill__item:nth-child(5)::after {
      top: 30px;
      left: -64px; }

.program {
  margin-top: 50px; }

.program__title {
  text-transform: uppercase;
  font-size: 36px;
  margin: 81px 0 -134px 0;
  color: #ff0000;
  text-align: center;
  font-weight: 700;
  background: url("../img/program-title.png") no-repeat;
  background-position: 0 0; }

.program__list {
  list-style: none;
  padding: 0 0 0 16px; }

.program__wrapper {
  background: url("../img/program-bg.png") no-repeat;
  padding: 146px 0 50px 0;
  margin-top: 17px; }

.program__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px; }
  .program__item span {
    color: #ff0000;
    font-family: "besom 2";
    font-size: 30px;
    line-height: 16px;
    display: block;
    margin: 8px 21px 0 0; }
  .program__item:nth-child(1) {
    margin-bottom: 20px; }
  .program__item:nth-child(2) {
    margin-bottom: 26px; }
  .program__item:nth-child(3) {
    margin-bottom: 24px; }
  .program__item:nth-child(4) {
    margin-bottom: 24px; }
  .program__item:nth-child(5) {
    margin-bottom: 24px; }

.program__text {
  color: #ff0000;
  font-family: "besom 2";
  font-size: 54px;
  line-height: 16px;
  text-align: center;
  margin: 65px 0 60px 0; }

.program__link {
  margin-left: 14px;
  padding: 19px 77px 34px 70px; }

.program__image {
  margin-top: -23px; }

body {
  width: 100%;
  margin: 0;
  font-family: sans-serif;
  z-index: 2; }

.container {
  width: 290px;
  margin: 0 auto; }

/*@font-face {
  font-family: 'Besom 2';
  src: url('Besom.eot');
  src: local('Besom by Krisjanis Mezulis / RIT CREATIVE'), local('Besom'),
    url('Besom.eot?#iefix') format('embedded-opentype'),
    url('Besom.woff') format('woff'),
    url('Besom.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}*/
@font-face {
  font-family: "Besom 2";
  src: url("../font/Besom.woff") format("woff");
  font-weight: normal;
  font-display: swap;
  font-style: normal; }

.button {
  display: block;
  padding: 22px 77px 30px 83px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  background: url("../img/intro-link.png") no-repeat;
  background-position: -7px 0; }

/*# sourceMappingURL=style.css.map */
