.description__container {
/*  width: 290px;
  margin: 0 auto;*/
}

.description__title {
  font-size: 35px;
  padding: 11px 0 20px 0;
  &--bg {
    background: url("../img/dicscover.png") no-repeat;
    background-position: 3px 30px;
  }


  &::before {
    content: "что  вас  ждёт";
    top: 38px;
    left: -70px;
    font-size: 100px;
    font-family: "Besom 2";
    font-weight: 100;
    color: rgba(55, 59, 65, 0.102);
    text-transform: uppercase;
    line-height: 0.2;
    text-align: center;
    position: absolute;
    width: 100%;
  }
}

.description__list {
  list-style: none;
  padding: 0;
  color: #4c4c4c;
  text-align: center;
}

.description__span {
  color: #ff0000;
  font-size: 24px;
  line-height: 24px;
  position: relative;
  margin-left: 8px;
  display: inline-block;

  &--start {
    margin-bottom: 33px;
  }

    &::before {
      content: "";
      position: absolute;
      background: #ffe5e5;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      top: 42px;
      left: 19px;
    }

    &::after {
      content: "";
      position: absolute;
      background: #ff0000;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      top: 46px;
      left: 22px;
    }

    &--finish {

      margin: 47px 0 0 3px;

        &::before {
          top: -34px;
          left: 22px;;
        }

        &::after {
          top: -30px;
          left: 25px;
        }
      }
}

.description__sub-title {
  font-size: 20px;
  font-weight: 700;
  margin: 18px 0 0 0;
}

.description__text {
  font-size: 16px;
  line-height: 24px;
  margin: 11px 11px 15px 16px;
}

.description__item {
  &:nth-child(1) {
    .description__text--margin {
      margin: 14px 0 0 9px;
    }

    .description__wrapper-image {
      margin: 41px 0 0 0;

      &--margin {
        margin: 38px 0 25px 0;
      }
    }
  }

  &:nth-child(2) {
    .description__text--margin {
      margin: 16px 0 0 9px;
    }

    .description__wrapper-image {
      margin: 47px 0 0 0;
    }
  }

  &:nth-child(3) {
    .description__text--margin {
      margin: 16px 0 0 9px;
    }

    .description__wrapper-image {
      margin: 15px 0 0 0;

      &--margin {
        margin: 50px 0 25px -6px;
      }
    }
  }

  &:nth-child(4) {
    .description__text--margin {
      margin: 16px 0 0 12px;
    }

    .description__wrapper-image {
      margin: 25px 0 0 5px;

      &--margin {
        margin: 49px 0 20px 12px;
      }
    }
  }

  &:nth-child(5) {
    .description__text--margin {
      margin: 16px 0 0 0;
    }

    .description__wrapper-image {
      margin: 25px 0 0 5px;

      &--margin {
        margin: 53px 0 25px 0;
      }
    }
  }
}

.description__items {
  font-family: "besom 2", sans-serif;
  font-size: 122.5px;
  line-height:20px;
  opacity: 0.1;
  background: url("");
}

@media (min-width: 750px) {
  .description {
    margin: 0 0 29px 0;
  }

  .description__item {
    display: flex;
    position: relative;
    align-items: center;
    text-align: left;

    &--row {
      width: 313px;
      flex-direction: column;
      align-items: flex-start;

      &:nth-child(1) {
        margin-right: 61px;

        .description__wrapper-exposition {
          margin: 0;
        }

        .description__wrapper-image {
          margin: 21px 0 0 9px !important;
        }

        .description__sub-title {
          margin: 25px 0 0 7px;
        }
      }

      &:nth-child(2) {
        .description__wrapper-exposition {
          margin: 0;
        }

        .description__wrapper-image {
          margin: 22px 0 0 9px !important;
        }

        .description__wrapper-exposition {
          margin: 0px 0px 0px 1px !important;
        }

        .description__sub-title {
          margin: 25px 0 0 7px;
        }
      }

       &:nth-child(3) {
        margin-right: 61px;

        .description__wrapper-exposition {
          margin: 0;
        }

        .description__wrapper-image {
          margin: 39px 0 0 9px !important;
        }

        .description__wrapper-exposition {
          margin: 0px 0px 0px 1px !important;
        }

        .description__sub-title {
          margin: 25px 0 0 7px;
        }
      }

       &:nth-child(4) {
        align-items: flex-start !important;

        .description__wrapper-exposition {
          margin: 0;
        }

        .description__wrapper-image {
          margin: 39px 0 0 9px !important;
        }

        .description__wrapper-exposition {
          margin: -5px 0px 0px 1px !important;
        }

        .description__sub-title {
          margin: 25px 0 0 7px;
        }
      }

      &:nth-child(5) {
        .description__wrapper-exposition {
          margin: 0;
        }

        .description__wrapper-image {
          margin: 39px 0 0 52px !important;
        }

        .description__wrapper-exposition {
          margin: 1px 0px 0px 44px !important;
        }

        .description__sub-title {
          margin: 25px 0 0 7px;
        }
      }
    }

    &--flex {
      flex-direction: row-reverse;
    }

    &:nth-child(1) {
      .description__text--margin {
        margin: 14px 0 0 9px;
      }

      .description__wrapper-image {
        margin: 41px 0 0 0;

        &--margin {
          margin: 38px 0 25px 0;
        }
      }
    }

    &:nth-child(2) {

      .description__wrapper-image {
        margin: 17px -18px 0 0px;
      }

      .description__wrapper-exposition {
        margin: 8px 15px 0 133px;
      }
    }

    &:nth-child(3) {
      .description__wrapper-image {
        margin: -9px 0 0 -9px;
      }

      .description__wrapper-exposition {
        margin: -41px 80px 0 16px;
      }
    }

    &:nth-child(4) {
      flex-direction: column;
      align-items: flex-end;

      .description__wrapper-exposition {
        margin: 12px 0 0 445px;
      }

      .description__wrapper-image {
        margin: -31px 8px 0 0;
      }
    }
  }

  .description__wrapper-exposition {
    margin: 27px 46px 0 29px;
  }

  .description__list {
    margin-top: 89px;
    position: relative;

    &--margin {
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &--before {
      &::before {
        content: "";
        position: absolute;
        top: -23px;
        right: 91px;
        width: 506px;
        height: 1050px;
        background: url("../img/line.svg") no-repeat;
      }
    }
  }

  .description__title {
    font-size: 48px;
    margin: 11px 0 20px 11px;
    padding: 30px 0;

    &::before {
      font-size: 130px;
      top: 54px;
      left: 15px;
    }
  }

  .description__span {
    position: absolute;

    &--start {
      top: 16px;
      right: 79px;
    }

    &--finish {
      top: 126px;
      left: 200px;
    }
  }
  .description__text {
    margin-left: 0;
  }

}


@media (min-width: 1170px) {
  .description {
    margin-bottom: 146px;
  }

  .description__title {
    font-size: 68px;
    margin: 90px 15px 0 0;

    &::before {
      font-size: 180px;
      top: 54px;
      left: 10px;
    }

    &--bg {
      background: none;
      margin-top: 117px !important;

      &::before {
        content: "ты узнаешь";
        top: 63px;
      }
    }
  }

  .description__item {
    &:nth-child(2) {
      flex-direction: row;
      justify-content: flex-end;
      .description__wrapper-image {
        margin: 21px -2px 0 18px
      }
    }

    &:nth-child(4) {
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-start;

      .description__wrapper-exposition {
        margin: 12px 0 0 0;
      }
    }
  }

  .description__wrapper-exposition {
    width: 300px;
    margin: 0;
  }

  .description__span {

    &--start {
      top: 32px;
      right: 284px;
    }

    &--finish {
      top: 104px;
      left: 219px;
    }
  }

  .description__list {

    &--margin {
      flex-direction: row;
      justify-content: flex-start;
      margin-top: 56px;
    }

    &::before {
      top: -8px;
      left: 139px;
      width: 700px;
      height: 1050px;
      background: url("../img/line-desktop.svg") no-repeat;
    }
  }

  .description__wrapper-image {
    transform: scale(1.2);
  }

  .description__item {

    &--row {
      flex-direction: row;
      width: 555px;
      margin: 0 !important;

      &:nth-child(1) {
        .description__wrapper-exposition {
          margin: 0 0 0 81px  !important;
        }
      }

      &:nth-child(2) {
        margin-top: 111px !important;

        .description__wrapper-exposition {
          margin: 0 19px 0 59px  !important;
        }
      }

      &:nth-child(3) {
        margin-top: 0 !important;

        .description__sub-title {
          margin-top: 0;
        }

        .description__wrapper-exposition {
          margin: 0 19px 0 71px  !important;
        }
      }

      &:nth-child(4) {
        margin-top: 113px !important;

        .description__wrapper-image {
          margin-top: 0 !important;
        }

        .description__sub-title {
          margin-top: 0;
        }

        .description__wrapper-exposition {
          margin: 0 33px 0 60px  !important;
        }
      }

      &:nth-child(5) {
        .description__wrapper-image {
          margin: 39px 28px 0 25px!important;
        }
        .description__wrapper-exposition {
          margin: 0 33px 0 34px  !important;
        }
      }
    }

    &:nth-child(1) {
      .description__wrapper-image {
        margin: 48px 64px 0 46px;
      }

      .description__wrapper-exposition {
        margin-top: 81px;
      }
    }

    &:nth-child(2) {
      .description__wrapper-image {
        margin: 29px -85px 0 8px;
        transform: scale(1.3);
      }

      .description__wrapper-exposition {
        margin: 28px 0 0 145px;
      }
    }

    &:nth-child(3) {
      .description__wrapper-image {
        margin: -11px 27px 0 -10px;
        transform: scale(1.1);
      }

      .description__wrapper-exposition {
        margin-top: -25px;
      }
    }

    &:nth-child(4) {
      .description__wrapper-image {
        margin: -25px 60px 0 0;
      }

     .description__wrapper-exposition {
        align-items: flex-start;
        padding-left: 13px;
        box-sizing: border-box;
      }
    }
  }
}
