.form {
  background: url("../img/bg-form-mobile.png") no-repeat;
  background-size: cover;
  color: #fff;
  padding: 36px 0 125px 0;
}

.form__input {
  background-color: rgba(255, 255, 255, 0.1);
  width: 269px;
  height: 46px;
  border: none;
  margin-bottom: 32px;
  border-radius: 30px;
  color: #fff;
  padding-left: 20px;

  &::-webkit-input-placeholder {
    color: #fff;
  }
}

.form__link {
  margin-top: 13px;
}

.form__title {
  font-size: 48px;
  font-family: "Besom 2";
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 100;
  margin-bottom: 0;
}

.form__text {
  line-height: 24px;
  margin-bottom: 35px;
}

@media (min-width: 750px) {
  .form {
    background: url("../img/bg-form-table.png") no-repeat;
    background-size: cover;
  }

  .form__title {
    text-align: center;
    font-size: 65px;
    margin-top: 38px;
  }

  .form__container {
    width: 400px;
    margin: 0 auto;
  }

  .form__text {
    margin: 16px 0 44px 26px;
  }

  .form__input {
    margin: 0 0 22px 26px;
    width: 347px;
  }

  .form__link {
    margin: 30px 0 0 46px;
  }
}

@media (min-width: 1170px) {
  .form {
    background: url("../img/bg-form.png") no-repeat;
    background-size: cover;

    &--popap {
      display: none;
      width: 555px;
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 200;
      background: url("../img/bg-popap.png") no-repeat;
    }
  }

  .form__container {
    &--popap {
      padding: 0;
      position: relative;
    }
  }

  .form__title--popap {
    font-size: 53px;
  }

  .popap__btn {
    cursor: pointer;
    position: absolute;
    top: -40px;
    right: -57px;
    padding: 0;
    border: none;
    background: initial;
    width: 30px;
    height: 30px;
    background: url("../img/button-form.png") no-repeat;

    &:hover {
      opacity: 0.5;
    }
  }
}
