.form {
  background: url("../img/bg-form-table.png") no-repeat;
  background-position: 1, 1;
  color: #fff;
}

.form__input {
  background-color: rgba(255, 255, 255, 0.1);
  width: 291px;
  height: 48px;
  border: none;
  border-radius: 30px;
  color: #fff;
  padding-left: 20px;

  &::-webkit-input-placeholder {
    color: #fff;
  }
}

.form__title {
  font-size: 48px;
  font-family: "Besom 2";
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 100;
}

.form__text {
}
