.page-footer {
  text-align: center;
}

.page-footer__link {
  font-size: 18px;
  line-height: 1.2;
  color: #3c313b;
  text-decoration: none;
  font-weight: 700;
}

.page-footer__wrapper-link {
  margin: 39px 0 36px 0;
}

.page-footer__logo {
  position: relative;
  margin: 35px 0 6px 0;

  p {
    position: absolute;
    bottom: -14px;
    left: 132px;
    font-size: 14px;
  }
}

.page-footer__text {
  display: inline-block;
  padding-bottom: 4px;
  font-size: 14px;
  border-bottom: 1px dashed #000;
}

@media (min-width: 750px) {
  .page-footer__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .page-footer__text {
    margin-top: 53px;
  }

  .page-footer__wrapper-link {
    margin-top: 52px;
  }

  .page-footer__logo {
    position: relative;
    margin: 35px 0 6px 0;

    p {
      width: 60px;
      bottom: -6px;
      left: 67px;
    }
  }
}
