.page-header {
  width: 100%;
  margin: 0 auto;
  background: url("../img/bg-header-modile.jpg") no-repeat center;
  background-position: 0 1px;
  background-size: cover;
}

.page-header__sup-title {
  color: #fff;
  margin-top: 19px;
  font-size: 16px;
  font-family: sans-serif;
  position: relative;
  position: absolute;
  top: 99px;
  left: 0;

  &::before {
    content: "";
    position: absolute;
    top: 4px;
    left: -15px;
    width: 270px;
    height: 15px;
    background: url("../img/bg-intro-span.png") no-repeat;
  }
}

.page-header__logo {
  margin-top: 11px;
}

.page-header__link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  margin-top: 28px;
  font-family: sans-serif;
  display: inline-block;
}

.page-header__inner {
  display: flex;
  justify-content: space-between;
  position: relative;
}

@media (min-width: 750px) {
  .page-header {
    background: url("../img/bg-header-table.jpg") no-repeat;
    background-size: cover;
  }

  .page-header__sup-title {
    top: 2px;
    left: 40%;
  }

  .page-header__logo {
    margin-top: 18px;
  }

  .page-header__sup-title {
    top: 10px;
    left: 42%;

    &::before {
      left: -85px;
    }
  }
}

@media (min-width: 1170px) {
  .page-header {
    background: url("../img/bg-header-desktop.png") no-repeat;
    background-size: cover;
  }
}
