.reviews {
  margin-top: 22px;
  background: url("../img/slider-bg-mobile.png") no-repeat;
  background-position: 0 249px;
  background-size: cover;
}

.reviews__title {
  margin: 0;
  font-size: 35px;
  padding: 30px 0;
  font-weight: 700;
  background: url("../img/reviews-title-mobile.png") no-repeat;
  background-position: 1px 15px;
}

.reviews__wrapper {
  position: relative;
  margin: 26px 0 0 0;
}

.reviews__btn-play {
  position: absolute;
  top: 20%;
  left: 31%;
}

@media (min-width: 750px) {
  .reviews {
    margin-top: 55px;
    background: url("../img/bg-reviews.png") no-repeat;
    background-size: cover;
    background-position: 0px -346px;
  }

  .reviews__title {
    background: none;
    font-size: 48px;

    &::before {
      content: "Отзывы";
      font-size: 118px;
      width: 689px;
      height: 40px;
      top: 11px;
      left: 12px;;
      font-family: "Besom 2";
      color: rgba(50, 56, 63, 0.102);
      text-transform: uppercase;
      position: absolute;
    }
  }
}

@media (min-width: 1170px) {
  .reviews {
    margin-top: 147px;
    background: url("../img/bg-reviews-desktop.png") no-repeat;
    background-size: cover;
    background-position: 0px -372px;
  }

  .reviews__title {
    font-size: 68px;

    &::before {
      font-size: 180px;
      top: -4px;
      left: 216px;
    }
  }

  .reviews__wrapper {
    margin-top: 66px;

    &:hover {
      .reviews__btn-play {
        transform: scale(1.4);
        transition: all .4s ease-in-out;
      }
    }
  }

  .reviews__btn-play {
    position: absolute;
    top: 43%;
    left: 45%
  }
}
