.security {
  margin-top: 82px;
}

.security__title {
  color: #ff0000;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.security__list {
  list-style: none;
  padding: 0;
  margin-top: 46px;
  font-size: 16px;
  line-height: 24px;
  text-align: left;

  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 470px;
    top: 1px;
    left: -3px;
    background: url("../img/security-bg.png") no-repeat;
  }
}

.security__item {
  margin: 0 39px 57px 0;
  display: flex;

  span {
    z-index: 20;
    color: #fff;
    display: block;
    margin: 15px 52px 0 15px;
  }
}

@media (min-width: 750px) {
  .security {
    margin: 55px 0 110px 0;
  }

  .security__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 64px;

    &::before {
      background: url("../img/security-bg-table.png") no-repeat;
      width: 507px;
      height: 50px;
      top: 0px;
      left: 75px;
    }
  }

  .security__item {
    display: flex;
    flex-direction: column;
    width: 180px;
    margin-right: 0;
    margin-bottom: 20px;

    &:nth-child(1) {
      margin-left: 77px;
      margin-right: 34px;
    }

    &:nth-child(2) {
      margin-right: 69px;
    }

    &:nth-child(4) {
      position: relative;
      margin-left: 192px;
      margin-right: 33px;

      &::before {
        content: "";
        position: absolute;
        background: url("../img/security-bg-table.png") no-repeat;
        width: 261px;
        height: 50px;
        top: 0px;
        left: -5px;
      }
    }

    span {
      margin-bottom: 20px;
    }
  }
}

@media (min-width: 1170px) {
  .security__title {
    font-size: 36px;
    margin: -52px 190px 36px 209px;
  }

  .security__list {
    margin-top: 71px;
    &::before {
      background: url("../img/security-bg-desktop.png") no-repeat;
      width: 1040px;
      height: 50px;
      top: 0;
      left: 13px;
    }
  }

  .security__item {

    span {
      margin-bottom: 38px;
    }

    &:nth-child(1) {
      margin-left: 21px;
      margin-right: 34px;
    }

    &:nth-child(4) {
      margin-left: 47px;
      margin-right: 69px;

      &::before {
        content: none;
      }
    }

    &:nth-child(5) {
      box-sizing: border-box;
      padding-left: 38px;
    }
  }
}
