.slider {
  text-align: center;
  padding-top: 96px;
  padding-bottom: 81px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 5px 13px 50px rgba(0,0,0,.3);
}

.slider__title {
  font-size: 20px;
}

.slider__text {
  line-height: 20px;
  font-size: 16px;
  margin-bottom: 0;
}

.slider__control {
  margin-top: 80px;
  position: relative;
  display: flex;
  justify-content: center;
}

.slider__wrapper-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider__wrapper-input {
  display: flex;
  margin-right: 40px;
}

.slider__inner {
  position: relative;
}

.slider__arrow {
  cursor: pointer;
  border: none;
  background: inherit;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 20px;
    left: -3px;
    top: 3px;
    background: url("../img/arrow-next.png") no-repeat;
  }

  &--pre {
    &::before {
      background: url("../img/arrow-pre.png") no-repeat;
      left: -54px;
    }
  }
}

.slider__input {
  opacity: 0;
  position: relative;
  border: none;

   + label {
    &::before {
      content: "";
      top: 9px;
      position: absolute;
      width: 10px;
      height: 10px;
      background: url("../img/slider-input1.png") no-repeat;
    }
  }

  &:checked + label {
    &::before {
      background: url("../img/slider-input1-red.png") no-repeat;
      width: 15px;
    }
  }
}

.slider__button {
  border-bottom: 1px dotted #000;
  cursor: pointer;
  color: #000;
  text-decoration: none;

  &:hover {
    color: #ff0000;
    border-color: #ff0000;
  }

  span {
    margin-left: 20px;
    display: inline-block;
    transform: rotate(-90deg);
  }
}

@media (min-width: 750px) {
  .slider__wrapper {
    display: flex;
    text-align: left;
    padding: 30px 0;
    margin: 0 0 0 47px;

  }

  .slider {
    margin-top: 50px;
    padding-top: 72px;
    padding-bottom: 100px;
  }

  .slider__title {
    margin: 0 0 22px 25px;
    align-self: flex-start;
  }

  .slider__text {
    margin: 16px 30px 0 24px;
  }

  .slider__control {
    margin: 54px 0 0 27px;
  }
}

@media (min-width: 1170px) {
  .slider {
    margin: 60px 0 0 0;
    padding: 68px 0 54px 0;
  }

  .slider__wrapper {
    margin-left: 83px;
    padding-top: 8px;
  }

  .slider__control {
    margin: 17px 0 0px 27px;
  }
}
