.slider {
  text-align: center;
  padding-top: 96px;
  padding-bottom: 81px;
}

.slider__title {
  font-size: 20px;
}

.slider__text {
  line-height: 20px;
  font-size: 16px;
}

.slider__control {
  margin-top: 80px;
  position: relative;
  display: flex;
  justify-content: center;
}

.slider__wrapper-input {
  display: flex;
  margin-right: 40px;
}

.slider__inner {
  position: relative;
}

.slider__arrow {
  border: none;
  background: inherit;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 20px;
    left: -3px;
    top: 3px;
    background: url("../img/arrow-next.png") no-repeat;
  }

  &--pre {
    &::before {
      background: url("../img/arrow-pre.png") no-repeat;
      left: -54px;
    }
  }
}

.slider__input {
  opacity: 0;
  position: relative;
  border: none;

   + label {
    &::before {
      content: "";
      top: 9px;
      position: absolute;
      width: 10px;
      height: 10px;
      background: url("../img/slider-input1.png") no-repeat;
    }
  }

  &:checked + label {
    &::before {
      background: url("../img/slider-input1-red.png") no-repeat;
      width: 15px;
    }
  }
}



