@import "page-header";
@import "intro";
@import "font";
@import "page-main";
@import "description";
@import "security";
@import "info";
@import "test";
@import "skill";
@import "program";
@import "instructor";
@import "reviews";
@import "slider";
@import "form";
@import "page-footer";

body {
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  z-index: 2;
}

blockquote {
  margin: 0;
}

.container {
  width: 290px;
  margin: 0 auto;
}

@media (min-width: 750px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 1170px) {
  .container {
    width: 1140px;
  }
}

/*@font-face {
  font-family: 'Besom 2';
  src: url('Besom.eot');
  src: local('Besom by Krisjanis Mezulis / RIT CREATIVE'), local('Besom'),
    url('Besom.eot?#iefix') format('embedded-opentype'),
    url('Besom.woff') format('woff'),
    url('Besom.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}*/

@font-face {
  font-family: "Besom 2";
  src: url("../font/Besom.woff") format("woff");
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}

.button {
  display: block;
  padding: 22px 77px 30px 83px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  background: url("../img/button.png") no-repeat;
  background-position:-7px 0;
}

/*@mixin overlay() {
  text-transform: uppercase;
  font-size: 36px;
  color: #ff0000;
  text-align: center;
  background: url("../img/skill-bg.png") no-repeat;
  background-position: 1px 10px;
  font-weight: 700;
  margin-top: 0;
}
*/

.title {
  text-align: center;
  font-family: sans-serif;
  color: #ff0000;
  margin: 20px 0 26px 0;
  font-size: 36px;
  font-weight: bold;
  padding: 20px 0 20px 0;
  text-transform: uppercase;
  z-index: 40;
  position: relative;
}
