@import "page-header";
@import "intro";
@import "font";
@import "page-main";
@import "description";
@import "security";
@import "info";
@import "test";
@import "skill";
@import "program";

body {
  width: 100%;
  margin: 0;
  font-family: sans-serif;
  z-index: 2;
}

.container {
  width: 290px;
  margin: 0 auto;
}

/*@font-face {
  font-family: 'Besom 2';
  src: url('Besom.eot');
  src: local('Besom by Krisjanis Mezulis / RIT CREATIVE'), local('Besom'),
    url('Besom.eot?#iefix') format('embedded-opentype'),
    url('Besom.woff') format('woff'),
    url('Besom.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}*/

@font-face {
  font-family: "Besom 2";
  src: url("../font/Besom.woff") format("woff");
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}

.button {
  display: block;
  padding: 22px 77px 30px 83px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  background: url("../img/intro-link.png") no-repeat;
  background-position:-7px 0;
}

